.container {
    padding-top: 8rem;
}

.products {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 2rem;
    max-width: 700px;
    margin: 0 auto;
}

.product {
    background: var(--green);
    color: #fff;
    min-height: 6rem;
    padding: 1rem;
    font-weight: bold;
    font-size: calc(14px + 0.25vw);
    display: flex;
    gap: 1rem;
    align-items: center;
}

.productImage {
    max-width: 8rem;
    object-fit: contain;
}